@model Category
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="billing-details">
					<form asp-action="Edit" method="post">
						<div class="section-title">
							<h3 class="title">Edit Category</h3>
							<input asp-for="CategoryId" class="input" hidden />
							<div class="form-group">
								<input class="input" asp-for="CategoryName" placeholder="Name" />
								<span asp-validation-for="CategoryName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input class="input" asp-for="CategoryDescription" placeholder="Description" />
								<span asp-validation-for="CategoryDescription" class="text-danger"></span>
							</div>
							<button type="submit" class="primary-btn order-submit">Edit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}